@charset "UTF-8";
body {
  font-family: "Libre Franklin", sans-serif;
  margin: 0;
  color: #25588B;
}

.menu {
  background-color: white;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  margin: 0;
  padding: 0.5px;
  display: flex;
  justify-content: right;
  list-style: none;
}

.menu__item {
  width: 100%;
}

.opravy__list {
  font-size: 1rem;
  padding-left: 5%;
  font-weight: 150;
}

.prodej__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 1%;
  padding: 4%;
  padding-bottom: 10%;
}

.prodej__item {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.prodej__item1 {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.formoopravy {
  border-radius: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

label {
  margin-bottom: 10px;
  align-items: right;
  border-radius: 8px;
}

input, textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  width: 60%;
  background-color: #E1F8D9;
  border-radius: 8px;
}

input[type=submit] {
  background-color: #E1F8D9;
  color: #25588B;
  padding: 20px 20px;
  border: none;
  border-radius: 10px;
  width: 30%;
}

.title__prodej {
  padding-top: 15%;
}

input[type=file] {
  align-items: left;
  width: 30%;
  padding: 20px 20px;
  border-radius: 10px;
}

input[type=submit]:hover {
  background-color: #E1F8D9;
}

.opravy__text {
  padding-left: 5%;
  font-weight: 200;
  font-size: 0.5rem;
}

.logo {
  margin: 0;
  padding: 1px;
  display: flex;
  justify-content: left;
  list-style: none;
  font-size: 1rem;
  place-content: left;
  text-align: left;
}

.menu__link {
  display: block;
  padding: 5px 5px;
  text-decoration: none;
  color: #25588B;
}

.menu__link:hover, .menu__link:focus {
  background-color: #E1F8D9;
  color: #25588B;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-height: 80%;
}

.header__image--second {
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
}

.header__image--first {
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
  z-index: 2;
}

.kontejner__grid {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 2;
  background-color: #E1F8D9;
  width: 70%;
  border-radius: 0px 50px 50px 0px;
  margin-top: 5%;
  padding-left: 3%;
  padding: 2%;
}

.kontejner__item {
  grid-column: 1;
  grid-row: 1;
  font-size: 2em;
  font-family: "Libre Franklin", sans-serif;
}

.kontejner__text {
  display: grid;
  grid-template-columns: r(3, 1fr);
  grid-template-rows: r(5, 1fr);
  font-size: 1rem;
  font-family: "Libre Franklin", sans-serif;
  gap: 0;
  width: 50%;
  grid-column: 1;
  grid-row: 2;
}

.reklama_item--first {
  max-width: 100%;
}

.reklama_item--second {
  max-width: 100%;
}

@media screen and (max-width: 900px) {
  .reklama_item--third {
    max-width: 100px;
  }
}

.kontakt__item {
  max-width: 100%;
}

.image__grid--osobasecond {
  max-width: 100%;
}

.image__grid--osobafirst {
  max-width: 100%;
}

.prodej__grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  padding: 5%;
  margin: 2%;
  gap: 1;
}

.prodej__item {
  grid-row: 1;
  grid-column: 1;
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 100%;
  max-width: 100%;
}

.kontejner__title {
  font-size: 1em;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 200;
  letter-spacing: 8%;
}

.item {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 150;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
}

.item2 {
  grid-column: 2;
  grid-row: 1;
}

.item3 {
  grid-column: 3;
  grid-row: 1;
}

.item4 {
  grid-column: 1;
  grid-row: 2;
}

.item5 {
  grid-column: 2;
  grid-row: 2;
}

.item6 {
  grid-column: 3;
  grid-row: 2;
}

.grid--second {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 0.1fr 0.2fr 0.1fr 0.2fr repeat(5, auto);
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  padding-left: 2%;
}

.box__title--first {
  grid-column: 1;
  grid-row: 1;
  margin-left: 1rem;
}

.box__list--first {
  grid-column: 1;
  grid-row: 2;
  font-size: 1em;
  padding-bottom: 6rem;
  margin-left: 1rem;
}

.opravy__text {
  font-size: 1rem;
  font-weight: 200;
}

.box__title--second {
  grid-column: 1;
  grid-row: 3;
  margin: 0;
  margin-left: 1rem;
}

.box__list--second {
  grid-column: 1;
  grid-row: 4;
  font-size: 1em;
  padding-bottom: 6rem;
  margin-left: 1rem;
}

.image--small {
  grid-column: 2;
  grid-row: 2/span 5;
  margin: 0;
  max-width: 100%;
}

.image--big {
  display: none;
}

.button {
  background-color: #EEEEEE;
  text-align: center;
  border-style: none;
  border-radius: 10px;
  max-width: 30%;
  max-height: 20%;
  text-decoration: none;
  color: #25588B;
  font-size: 100%;
  padding: 2%;
  margin-left: 20%;
  margin-top: 2%;
  margin-bottom: 4%;
}

.button--first {
  grid-column: 1;
  grid-row: 2;
}

.button-second {
  grid-column: 1;
  grid-row: 4;
}

.section__backround--green {
  background-color: #E1F8D9;
  grid-column: 1/span 3;
  grid-row: 5/span 8;
  z-index: -1;
}

.review__box {
  z-index: 2;
  background-color: white;
  border-radius: 10px;
  border: 2px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 70% 15%;
  max-width: 70%;
  margin-left: 3rem;
  margin-bottom: 2%;
  max-height: 100%;
}

.review--first {
  grid-column: 1/span 2;
  grid-row: 6;
}

.review--second {
  grid-column: 1/span 2;
  grid-row: 7;
}

.review__title {
  grid-column: 1;
  grid-row: 5;
  padding-left: 2%;
}

.review__name {
  grid-column: 1;
  grid-row: 1;
  margin: 1%;
  font-weight: 400;
}

.review__text {
  grid-column: 1;
  grid-row: 2;
  font-size: 1rem;
  margin: 1%;
  padding-bottom: 3%;
  font-weight: 150;
}

.review__date {
  grid-column: 1;
  grid-row: 3;
  font-size: 0.7rem;
  color: #25588B;
  margin-left: 2%;
}

.grid--third {
  grid-template-rows: 100px 220px 150px;
}

.kontejner__item--contact {
  padding-bottom: 1%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.kontakt__contact {
  place-content: left;
  font-size: 1rem;
  padding-left: 1rem;
}

.kontejner__list {
  text-decoration: none;
  list-style: none;
  font-weight: 200;
}

/* PATIČKA*/
.footer {
  background-color: #E1F8D9;
}

.footer__list {
  text-decoration: none;
  list-style: none;
  font-weight: 150;
  padding: 10%;
}

.footer__kontejner--text {
  font-weight: 150;
  width: 70%;
}

.footer__kontejner--title {
  font-weight: 150;
  font-size: 1.5rem;
}

.grid__text {
  display: grid;
  width: 50%;
}

.footer__grid {
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  padding: 10%;
  padding-top: 0%;
}

.item {
  width: -moz-fit-content;
  width: fit-content;
}

.title {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 8px;
  padding-left: 2%;
}

.box {
  background-color: #E1F8D9;
  padding: 2%;
  max-width: 80%;
  border-radius: 0px 20px 20px 0;
  padding-bottom: 5%;
}

.box--reklama {
  max-width: 100%;
  padding: 2%;
  background-color: #E1F8D9;
  margin-bottom: 2%;
}

.kontakt__grid {
  background-color: #E1F8D9;
  padding: 10%;
}

.box--podpora {
  background-color: none;
}

.reklama_item--third {
  grid-row: 2;
  grid-column: 2;
  max-width: 100%;
}

.osoba__text--second {
  font-size: 1rem;
}

.osoba__grid--first {
  font-size: 1rem;
}

.box__text {
  padding: 2%;
  font-size: 1rem;
  text-align: left;
}

.grid__fotogalerie {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1%;
  padding: 2%;
}

.kontatakt__item {
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.fotogalerie__item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.opravy__grid {
  padding: 2%;
}

.opravy__item {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.opravy {
  padding: 20%;
  background-color: blue;
  width: 100%;
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
  .menu {
    background-color: white;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
  }
  .kontejner__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #E1F8D9;
    width: 50%;
    border-radius: 0px 50px 50px 0px;
    margin-top: 5%;
    padding-left: 3%;
    padding: 2%;
  }
  .kontejner__item {
    grid-column: 1;
    grid-row: 1;
    font-size: 2em;
    font-family: "Libre Franklin", sans-serif;
  }
  .kontejner__text {
    display: grid;
    grid-template-columns: r(3, 1fr);
    grid-template-rows: r(5, 1fr);
    font-size: 1rem;
    font-family: "Libre Franklin", sans-serif;
    gap: 0;
    width: 50%;
    grid-column: 1;
    grid-row: 2;
  }
  .prodej__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 5%;
    margin: 2%;
  }
  .prodej__item {
    grid-row: 1;
    grid-column: 1;
    -o-object-fit: contain;
       object-fit: contain;
    max-height: 100%;
    max-width: 100%;
  }
  .opravy__text {
    font-size: 2rem;
    font-weight: 200;
  }
  .kontejner__title {
    font-size: 1em;
    font-family: "Libre Franklin", sans-serif;
    font-weight: 200;
    letter-spacing: 8%;
  }
  .opravy__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2%;
    padding: 2%;
  }
  .opravy__item {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .item {
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 150;
  }
  .item1 {
    grid-column: 1;
    grid-row: 1;
  }
  .item2 {
    grid-column: 2;
    grid-row: 1;
  }
  .item3 {
    grid-column: 3;
    grid-row: 1;
  }
  .item4 {
    grid-column: 1;
    grid-row: 2;
  }
  .item5 {
    grid-column: 2;
    grid-row: 2;
  }
  .item6 {
    grid-column: 3;
    grid-row: 2;
  }
  .menu__link {
    padding: 15px 30px;
  }
  .grid--second {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr repeat(10, 0.1fr);
  }
  .box__title--first {
    margin-left: 10%;
  }
  .box__list--first {
    font-size: 0.9rem;
  }
  .box__title--second {
    margin-right: 15%;
    grid-column: 3;
    grid-row: 1;
  }
  .box__list--second {
    grid-column: 3;
    grid-row: 2;
    font-size: 0.9rem;
    margin-right: 15%;
    margin-bottom: 30%;
  }
  .image--small {
    display: none;
  }
  .image--big {
    display: block;
    grid-column: 2;
    grid-row: 2/span 4;
    z-index: 1;
    max-width: 100%;
  }
  .button {
    text-decoration: none;
    color: #25588B;
    font-size: 0.9rem;
    padding: 1rem;
    margin-left: 40%;
    margin-left: 3%;
  }
  .button__opravy {
    justify-content: space-between;
  }
  ul {
    margin-bottom: 5%;
  }
  .button--first {
    grid-column: 1;
    grid-row: 3;
  }
  .button-second {
    grid-column: 3;
    grid-row: 3;
    margin-left: 40%;
  }
  .section__backround--green {
    grid-column: 1/span 3;
    grid-row: 3/span 15;
    padding-top: 20%;
  }
  .review__box {
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    border: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 50% 15%;
    max-width: 50%;
    margin-left: 3rem;
    margin-bottom: 2%;
    max-height: 70%;
  }
  .review--first {
    grid-column: 1/span 3;
    grid-row: 4/span 7;
  }
  .review--second {
    grid-column: 1/span 3;
    grid-row: 9/span 12;
  }
  .review__title {
    grid-row: 3;
    padding-left: 2rem;
  }
  .grid--third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 220px;
    place-content: center;
    margin: 0;
    justify-content: space-between;
    margin-top: 5%;
  }
  .kontejner__list {
    min-width: 120px;
  }
  .kontejner__item--contact {
    grid-column: 2;
    grid-row: 1/span 3;
    max-width: 100%;
  }
  .kontakt__contact {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.5rem;
  }
  .grid__fotogalerie {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1%;
  }
  .fotogalerie__item {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  /* PATIČKA*/
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    justify-content: space-between;
  }
  /* otevírací doba*/
  .footer__grid {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    font-size: 12px;
    font-weight: 150;
    padding: 10%;
  }
  .footer__kontejner--grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .footer__kontejner--text {
    grid-column: 1;
    grid-row: 1;
    font-size: 10px;
    text-align: left;
  }
  .grid__text {
    grid-column: 1;
    grid-row: 2;
    gap: 0;
  }
  h1 {
    font-weight: 150;
    letter-spacing: 6px;
  }
  .opravy__list {
    font-size: 2rem;
    padding-left: 5%;
    font-weight: 150;
  }
}
@media screen and (min-width: 1300px) {
  .menu__link {
    padding: 15px 30px;
  }
  .kontejner__item {
    padding: 10px;
  }
  .kontejner__text {
    padding: 10px;
    width: 40%;
  }
  .opravy__list {
    font-size: 2rem;
    padding-left: 5%;
    font-weight: 150;
  }
  .grid--second {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr repeat(10, 0.1fr);
    place-content: center;
  }
  h2 {
    font-size: 2.5rem;
  }
  .box__title--first {
    margin-left: 3rem;
  }
  .box__list--first {
    font-size: 1.5rem;
    margin-left: 3rem;
    font-weight: 150;
  }
  .box__title--second {
    grid-column: 3;
    grid-row: 1;
    margin-right: 10%;
  }
  .box__list--second {
    grid-column: 3;
    grid-row: 2;
    font-size: 1.5rem;
    margin-right: 10%;
    font-weight: 150;
  }
  .image--small {
    display: none;
  }
  .image--big {
    display: block;
    grid-column: 2;
    grid-row: 2/span 4;
    z-index: 1;
    margin-right: 10%;
    max-width: 100%;
  }
  .button {
    font-size: 1.87rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: 14.5rem;
    max-height: 3.35rem;
    margin-top: 2rem;
  }
  .box_recenze_text {
    grid-column: 1/span 3;
    grid-row: 4/span 7;
    grid-template-rows: 15% 50% 15%;
    max-width: 50%;
    place-content: center;
    max-height: 70%;
    font-weight: 150;
  }
  .osoba__grid--first {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr 1fr;
  }
  .osoba__grid--second {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
  }
  .image__grid--osobafirst {
    grid-row: 1/span 2;
    grid-column: 1;
  }
  .osoba__name--first {
    grid-row: 1;
    grid-column: 2;
  }
  .osoba__text--first {
    grid-row: 2;
    grid-column: 2;
  }
  .image__grid--osobasecond {
    grid-row: 1/span 2;
    grid-column: 2;
  }
  .osoba__name--second {
    grid-row: 1;
    grid-column: 1;
  }
  .osoba__text--second {
    grid-row: 2;
    grid-column: 1;
  }
  /* kontakt*/
  .grid--third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 220px 150px;
    place-content: center;
    margin: 0;
    justify-content: space-between;
    margin-top: 5%;
  }
  .kontejner--title {
    grid-column: 1;
    grid-row: 1;
    font-size: 4.67rem;
    font-weight: 200;
    padding: 0;
    margin: 0;
    margin-left: 2.5rem;
    letter-spacing: 8px;
  }
  .kontakt__contact {
    grid-column: 1;
    grid-row: 2;
    font-size: 1.5rem;
    font-weight: 150;
  }
  .kontejner__item--contact {
    grid-column: 2;
    grid-row: 1/span 3;
    max-width: 100%;
  }
  /* PATIČKA*/
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    place-content: center;
    justify-content: space-between;
  }
  /* otevírací doba*/
  .footer__grid {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    font-size: 12px;
    font-weight: 150;
    padding: 10%;
  }
  .footer__kontejner--grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  .footer__kontejner--text {
    grid-column: 1;
    grid-row: 1;
    font-size: 10px;
    text-align: left;
  }
  .grid__text {
    grid-column: 1;
    grid-row: 2;
    gap: 0;
  }
  h1 {
    font-weight: 150;
    letter-spacing: 6px;
  }
  .prodej__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 2%;
    margin: 2%;
  }
  .prodej__item {
    grid-row: 1;
    grid-column: 1;
    -o-object-fit: contain;
       object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  .menu__list {
    margin: 0;
    padding: 0.5px;
    display: flex;
    justify-content: right;
    list-style: none;
    max-width: 100%;
  }
  .menu {
    background-color: white;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
  }
}/*# sourceMappingURL=style.css.map */