$color-primary:  #E1F8D9;
$color-secondary:#25588B;



.title {
    font-size: 3rem;
    font-weight: 200;
    letter-spacing: 8px;
    padding-left: 2%; 
}
.box {
    background-color: $color-primary;
    padding: 2%;
    max-width: 60%;
    border-radius: 0px 20px 20px 0;
     }

     .prodej__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        padding: 2%;
    }
    
    .prodej__item {
        grid-row: 1;
        grid-column: 1;
        }

    form {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
          }
          
          label {
            margin-bottom: 10px;
            align-items: right;
          }
          
          input, textarea {
            margin-bottom: 20px;
            padding: 10px;
            border: none;
            width: 60%;
            background-color:$color-primary ;
          }
          
          input[type="submit"] {
            background-color: $color-primary;
            color: $color-secondary;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            width: 20%;
        
          }
        
          input[type="file"] {
            align-items: left;
            width: 20%;
        
          }
          
          input[type="submit"]:hover {
            background-color: $color-primary;
          }
@media screen and (max-width: 900px) {
          
.button {
            background-color: #EEEEEE;
            text-align: center; 
            border-style: none;
            border-radius: 10px;
            max-width: 30%;
            max-height: 20%;
            text-decoration: none;
            color: $color-secondary;
            font-size: 100%;
            padding: 2%;
            margin-left: 20%;
            margin-top: 2%;
        }
 }
 @media screen and (min-width: 900px) and (max-width: 1300px) {
.button {
                text-decoration: none;
                color:$color-secondary;
                font-size: 0.9rem;
                padding: 1rem;
                margin-left: 40%;
              }
 }

@media screen and (min-width: 1300px) {
.button {
           font-size: 1.87rem;
           padding: 1rem;  border-radius: 10px;
           max-width: 14.5rem;
           max-height: 3.35rem; 
           margin-top: 2rem;
 }
 }
